DB_PASSWORD=
NEXT_PUBLIC_SUPABASE_URL=https:
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey
SERVICE_ROLE_KEY=ey

APP_URL=http://localhost:3000

NEXT_PUBLIC_STRIPE_PK = pk_test
STRIPE_SK=sk_test

STRIPE_ENDPOINT_SECRET=whsec_